@charset "UTF-8";

#summary-calendar {
    height: 300px;
}
#calendar-graph {
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    border-bottom: 1px solid #9b9b9b;
}
#calendar-stat {
    box-sizing: border-box;
    width: 100%;
    height: 110px;
}
.stat-content {
    float: left;
    width: 312px;
    height: 100%;
}
.stat-content:first-child {
    border-right: 1px solid #9b9b9b;
}
.stat-content:last-child {
    border-left: 1px solid #9b9b9b;
}

#summary-recent {
    width: 100%;
}
#summary-recent-book {
    float: left;
    width: 461px;
}
#summary-recent-review {
    float: right;
    width: 461px;
}

.recent-item {
    float: left;
    width: 459px;
    height: 150px;
    border-bottom: 1px solid #9b9b9b;
}
.recent-item:last-child {
    border: none;
}
.no-recent-item {
    float: left;
    width: 459px;
    height: 150px;
    line-height: 50px;
    padding: 50px;
    text-align: center;
    font-weight: bold;
}

.recent-thumbnail {
    float: left;
    width: 130px;
    height: 130px;
    object-fit: contain;
    margin: 10px;
    border: 1px solid #9b9b9b;
}
.recent-info {
    float: left;
    width: 289px;
    margin: 10px;
}
.recent-title {
    display: flex;
    max-width: 289px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.recent-title-link {
    font-weight: bold;
    color: royalblue !important;
}
.recent-author {
    display: flex;
    max-width: 289px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    font-size: 14px;
    color: #777777;
}
