@charset "UTF-8";

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
}

#readinglog-wrapper {
    width: 940px;
    min-height: 80vh;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 30px;
}

#readinglog-head {
    height: 60px;
    padding: 0 10px;
}
#readinglog-username {
    float: left;
    height: 60px;
    line-height: 60px;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

#readinglog-tabmenu {
    width: 100%;
    height: 51px;
    border-bottom: 1px solid var(--bs-gray-500);
    overflow: hidden;
}

.tabmenu-btn {
    display: inline-block;
    width: 120px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}
.tabmenu-btn.activetab {
    font-weight: bold;
    border-bottom: 3px solid var(--bs-orange);
}
.tabmenu-btn:hover {
    cursor: pointer;
    background-color: var(--bs-gray-200);
}
.tabmenu-btn:link,
.tabmenu-btn:active,
.tabmenu-btn:visited {
    color: black;
    text-decoration: none;
}

#readinglog-body {
    width: 100%;
}

.readinglog-section {
    width: 100%;
    margin-top: 20px;
    border: 1px solid var(--bs-gray-500);
    border-radius: 5px;
    border-collapse: collapse;
    overflow: hidden;
}
.readinglog-section:last-child {
    margin-bottom: 20px;
}

.readinglog-section-title {
    height: 41px;
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid var(--bs-gray-500);
    background-color: var(--bs-gray-200);
}
