@charset "UTF-8";

.booklist_container{
	width:100%;
	margin:110px 0px 50px 0px;
	padding-left:20px;
}
.booklist_content{
	width:1290px;
	margin: 0 auto;
	display:flex;
}
.booklist_content_body{
	width:1060px;
}
/* 페이지명 */
.booklist_content_title{
	height:30px;
	margin-bottom:15px;
	font-size: 25px;
	font-weight:bolder;
}
/* 선택된 카테고리 명 */
.booklist_content_category{
	margin:10px 5px;
	font-size:20px;
}
/* 랭킹 순위별 조회 */
.booklist_content_ranking{
	margin:5px;
	padding:3px 0px;	
	border-top: 1px solid #adb5bd;
	border-bottom: 1px solid #adb5bd;
	border-radius: 10px 10px 0px 0px;
}
.booklist_content_ranking a{
	padding:0px 10px;
	border-right: 1px solid #adb5bd;
	text-align:center;
}
.booklist_content_ranking a:last-child{
	border-right: none;
}
.booklist_content_ranking .view{
	font-weight: bolder;
}
/* 반복할 booklist */
.booklist_content_item{
	display:grid;
	grid-template-columns: repeat(5, 200px);
	gap:15px;
	border-bottom: 1px solid #adb5bd;
	border-radius: 0px 0px 10px 10px;
}
.booklist_item{
	display:flex;
	margin:10px;
}
.booklist_item_body{
	display:flex;	
}
.booklist_ranking{
	width:30px;
	margin-right:8px;
}
.booklist_ranking > p{	
	height:35px;
	font-size: 22px;
	text-align: center;
	border-bottom: 2px solid #ABABAB;	
}
.booklist_bookinfo{
	margin-top:15px;
	flex-direction: column;
}
.booklist_bookname{
	margin-top:2px;
	font-size:16px;
}
.booklist_bookname a{
	color:black;
}
.booklist_booksubinfo{
	font-size:12px;
	color: #ABABAB;
}

/* 카테고리 선택 */
.booklist_category{
	width:210px;
	margin-top:50px;
	margin-left:15px;
}
/* 검색 */
#search_target, #category_id{
	width:100px;
	height:30px;
}
.booklist_search{	
	margin-top:10px;
	border: 1px solid #9b9b9b;
    border-radius: 5px;
    border-collapse: collapse;
}
.booklist_search_title{
	height:30px;
	padding:0px 5px;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 1px solid #9b9b9b;
	background-color: #eeeeee;
	font-weight: bolder;
	font-size: 18px;
}

.booklist_search_body{
	margin:7px;
}
#query_type{
	height:30px;
/* 	font-family: "Noto Sans Kr", sans-serif; */
}
.booklist_search_txt{
	height:25px;
	margin:6px 1px;
	display:flex;
	align-items: center;
	
}
#booklist_search_word{
	width:150px;
	height:25px;
	margin-right:3px;
	padding-left:3px;
}
#booklist_search_btn{
	width:42px;
	height:25px;
	border: none;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size:14px;
    text-align: center;
}