@charset "UTF-8";
/* 헤더/메인 */
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 본문 */
@font-face {
    font-family: 'GimpoGothicRegular00';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/GimpoGothicRegular00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.bookdetail_container{
	width:100%;
	margin:100px 0px 50px 0px;
	padding-left:20px;
	
}
.bookdetail_container *{
	font-family: 'GimpoGothicRegular00';
}
.bookdetail_content{
	width:1290px;
	margin: 0 auto;
	display:flex;
}
.bookdetail_content_body{
	width:1060px;
	
}
/* 책 상세 내용 */
.bookdetail_item{
	display:flex;	
}
.bookdetail_bookimg{
	border: 1px solid #e8e8e8;	
}
.bookdetail_bookinfo{
	flex-direction: column;
	margin:10px 20px;
}
.bookdetail_bookname{	
	font-family: 'GowunDodum-Regular';
	font-size:25px;
	font-weight: bolder;
	margin:10px 0px;
}
.bookdetail_booksubinfo{
	margin:10px 0px;
	font-size:18px;
}
/* 책 등록, 책 진행 상황, 리뷰 등록 */
.bookReview_reg{
	margin:20px 0px;	
}

/* 리뷰 */
.bookReview_content{	
	margin-top:10px;
	border: 1px solid #9b9b9b;
    border-radius: 5px;
    border-collapse: collapse;
}
.bookReview_title{
	height:30px;
	padding:8px 5px 0px 15px;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 1px solid #9b9b9b;
	background-color: #eeeeee;
}
.bookReview_body{
	margin:10px;
	min-height:96px;
}
/* 리뷰 등록 폼 */
#reviewItem_reg_display{
	display:none;
	border-bottom: 1px solid #9b9b9b;
}
.reviewItem_body{	
	display: flex;
}
#review_txt{
	width: 100%;
	height: 80px;
	resize: none;
}
/* 리뷰 list */
.reviewlist_item{
	display:flex;
	align-items: center;
	border-bottom: 2px solid #e8e8e8;
}
.reviewlist_body{
	margin:10px;
}
.reviewlist_userthumbnail{
	margin:10px;
	width:96px;
	height:96px;
	align-items: center;
}
.reviewlist_body{
	margin:10px;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}
.reviewlist_reviewcontent{
	min-height:50px;
}
.reviewlist_userinfo{
	display:flex;
	font-size:15px;
	color: #ABABAB;
}
.reviewlist_writedate{
	margin-left:20px;
}