@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap);
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GimpoGothicRegular00';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/GimpoGothicRegular00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*=====기본 설정=====*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a, a:visited, a:hover, a:active{
	text-decoration: none;
	color: black;
}
ul {
  list-style: none;
}
body{
	max-height: 100vh;
}

/*=============== HEADER ===============*/
.header{
	font-family: 'GowunDodum-Regular';
	width: 100%;
  	height: 80px;
  	position: absolute;
  	top: 0;
  	left: 0;
  	z-index: 100;
  	background-color: #ffffff;
  	box-shadow: 0 0px 11px 1px #e1e1e1;
  	line-height:55px;
}
/*=============== NAV ===============*/
.nav_container{
	display: flex;
	align-content: center;
	justify-content: space-between;
}
.nav_menu{
	position: relative;
}
.nav_menu a{
	padding: 12px;
	display: inline-block;
	font-size: 18px;
}
.nav_item a:hover{
	color: #c0c0c0;
}
.logo{
	margin-left:20px;
	position: relative;
	cursor: pointer;
	width: 13%;
	height:80px;
 	top: 0px;
}
.logo img{
	height: 80px;
}
.logo a{
	font-size: 25px;
}
.search_box{
	width: 15%;
}
.search_box #search{
	margin-top:10%;
	width: 70%;
	height: 45%;
	border-radius: 15px
}
.search_box #search_btn{
	margin-top:10%;
	width: 25%;
	height: 45%;
	border: none;
	background-color: black;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	border-radius: 15px;
}
.nav_menu{
	width: 70%
}
.nav_list {
  	display: grid;
	grid-template-columns: repeat(3, 7%);
 	grid-gap: 1em;
}
.nav_link {
  	font-weight: bold;
  	text-transform: uppercase;
}
.main_top{
	float: right;
	width: 12%;
}
.main_user{
	position: relative;
	margin-top:8%;
}
.main_user img{
	position:absolute;
	top:15px;
	height: 25px;
	width: 25px;
}
.main_signup{
	margin-left: 15px;
}
