<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="multi.dokgi.bookhub.readinglog.dao.IReadingLogDAO">
	<!-- 독서기록 조회 -->
	<select id="getReadingLog" resultType="ReadingLogDTO">
		SELECT
			*
		FROM
			`bookhub`.`readinglog`
		WHERE
			user_id LIKE #{userId}
			AND book_ISBN LIKE #{bookISBN}
		ORDER BY
			read_date DESC
	</select>
	
	<!-- 읽은 페이지 합계 조회 -->
	<select id="getReadingLogSum" resultType="Integer">
		SELECT
			SUM(read_page) AS read_page
		FROM
			`bookhub`.`readinglog`
		WHERE
			user_id LIKE #{userId}
			AND book_ISBN LIKE #{bookISBN}
	</select>

	<!-- 독서활동 기록 -->
	<insert id="writeReadingLog" parameterType="ReadingLogDTO">
		INSERT INTO
			`bookhub`.`readinglog`(user_id, book_isbn, read_page, summary, read_date, read_complete)
		VALUES
			(#{userId}, #{bookISBN}, #{readPage}, #{summary}, #{readDate}, #{readComplete});
	</insert>
	
	<!-- 독서기록 삭제 -->
	<delete id="deleteReadingLog">
		DELETE FROM
			`bookhub`.`readinglog`
		WHERE
			user_id LIKE #{userId}
			AND num = #{num}
	</delete>
	
	<!-- 독서기록 삭제 -->
	<delete id="deleteAllReadingLog">
		DELETE FROM
			`bookhub`.`readinglog`
		WHERE
			user_id LIKE #{userId}
			AND book_ISBN LIKE #{bookISBN}
	</delete>
	
	<!-- 완독표시 해제 -->
	<update id="uncheckReadComplete">
		UPDATE
			`bookhub`.`readinglog`
		SET
			read_complete = 0
		WHERE
			user_id LIKE #{userId}
			AND book_ISBN LIKE #{bookISBN}
	</update>
	
	<!-- 읽은 책 조회(최근 읽은 책, 내 서재) -->
	<select id="getRecentBook" resultType="ReadingLogDTO">
		SELECT
			rl.num,
			rl.user_id,
			rl.book_ISBN,
			maxrl.read_page,
			rl.summary,
			rl.read_date,
			rl.write_date,
			rl.read_complete
		FROM
			`bookhub`.`readinglog` AS rl
			JOIN
				(SELECT
					book_ISBN,
					SUM(read_page) AS read_page,
					MAX(read_date) AS last_read_date
				FROM
					`bookhub`.`readinglog`
				WHERE
					user_id LIKE #{userId}
				GROUP BY
					book_ISBN) AS maxrl
			ON
				(rl.book_ISBN = maxrl.book_ISBN AND rl.read_date = maxrl.last_read_date)
		ORDER BY
			read_date DESC
		LIMIT
			#{index}, #{limit}
	</select>
	
	<!-- 최근 작성한 리뷰 조회 -->
	<select id="getRecentReview" resultType="ReadingReviewDTO">
		SELECT
			review_num,
			user_id,
			book_isbn AS book_ISBN,
			review_content,
			review_writedate
		FROM
			`bookhub`.`review`
		WHERE
			user_id LIKE #{userId}
		ORDER BY
			review_writedate DESC
		LIMIT
			#{index}, #{limit}
	</select>
	
	<!-- 최근 독서활동 조회 -->
	<select id="getRecentCalendar" resultType="ReadingCalendarDTO">
		SELECT
			read_date,
			SUM(read_page) AS read_page
		FROM
			`bookhub`.`readinglog`
		WHERE
			user_id LIKE #{userId}
			AND read_date BETWEEN LAST_DAY(NOW() - INTERVAL 3 MONTH) + INTERVAL 1 DAY AND NOW()
		GROUP BY
			read_date
	</select>
	
	<!-- 누적 독서 페이지 조회 -->
	<select id="getAccReadPages" resultType="Integer">
		SELECT
			SUM(read_page)
		FROM
			`bookhub`.`readinglog`
		WHERE
			user_id LIKE #{userId}
	</select>
	
	<!-- 연속 독서 정보 조회 -->
	<select id="getStreak" resultType="ReadingStreakDTO">
		SELECT
			MIN(read_date) AS streak_start_date,
			MAX(read_date) AS streak_end_date,
			COUNT(*) AS streak_count
		FROM
			(SELECT
				read_date,
				read_date - INTERVAL ROW_NUMBER() OVER(ORDER BY read_date) DAY AS streak_date
			FROM
				`bookhub`.`readinglog`
			WHERE
				user_id LIKE #{userId}
			GROUP BY
				read_date) AS streak_calc
		GROUP BY
			streak_date
	</select>
</mapper>