<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="multi.dokgi.bookhub.booklist.dao.ReviewDAO">
	<!-- 리뷰 조회 -->
	<select id="getReviewList" resultType="ReviewJoinDTO" parameterType="String">
		select review_num, r.user_id, book_isbn, review_content, review_writedate, user_thumbnail, user_nick
		from review as r inner join user as u on r.user_id = u.user_id 
		where book_isbn like #{isbn}
	</select>
	<!-- 로그인한 아이디 user_book 테이블에 책 등록 되어있는지 조회  -->
	<select id="userbookExist" resultType="int" parameterType="String">
		select count(*) as count from user_book where user_id like #{loginId}
	</select>
</mapper>